/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* end reset */

/* general rules */
body {
  font-family: "Roboto", Verdana;
}

body .container {
  width: 1280px;
  margin: auto;
  height: 100%;
  position: relative;
}

body .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body .col {
  float: left;
}

ul {
  list-style-type: none;
}
/* end general rules */

/* header */
header {
  color: white;
  background-color: #0b325a;
  height: 600px;
  background-size: 1200px;
  background-position: 80%;
  background-repeat: no-repeat;
  background-image: url(../img/background-header.png);
  background-position-y: 100%;
}

/* navigation menu */

header .navigation {
  padding-top: 10px;
}

header .navigation .logo {
  width: 15%;
}

header .navigation .menu-center {
  width: 45%;
}

header .navigation .menu-right {
  width: 40%;
}

header .navigation .menu {
  margin-top: 16px;
}

header .navigation .menu li {
  display: inline-block;
}

header .navigation .menu li a{
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 font-size: 15px;
 margin-right: 10px;
}

header .navigation .menu li a:hover {
  color: orange;
}

header .navigation .menu li a.login {
  padding: 7px 25px;
  border: 1px solid white;
  border-radius: 5px;
}

header .navigation .menu li a.menu-item-green {
  padding: 7px 12px;
  border-radius: 5px;
  background-color: #7fb802;
}
/* end navigation menu */

/* teaser */
header .teaser {
  position: absolute;
  width: 700px;
  top:30%;
}

header .teaser h1 {
  font-size: 60px;
}

header .teaser a {
  color: white;
  display: inline-block;
  background-color: #7fb802;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
  width: 165px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
/* end teaser */
/* end header */

/* grey row */
body .greyrow {
  width: 100%;
  background: #c1c1c1;
  height: 150px;
}

.text-greyrow {
  padding: 30px 20px ;
  text-align: center;
}

.text-greyrow h4{
  font-size: 28px;
  padding: 3px;
}

.text-greyrow p {
  font-size: 21px;
  color: #828282;
}
/* end grey row */

/*  main  */
main .col {
  float: left;
  width: 50%
}

main .section-up {
  padding: 20px 30px;
}

main .section-up .list-section li {
  display: inline-block;
  text-align: center;
  height: 50%;
  width: 33%;
}

main .section-up .list-section .imagineprofile img{
  height: 200px;
  width: 200px;
}

main .section-up .list-section .text h6 {
  font-size: 20px;
  color: #7fb802;
}

main .section-bottom .left {
  left: 20%;
  padding: 50px 30px;
}

main .section-bottom .right {
  padding: 80px;
}

main .section-bottom .right h2 {
  font-size: 38px;
}

main .section-bottom .right p {
  font-size: 20px;
  color: #8b8b8b;
  padding-bottom: 10px;
}
/* end main */

/* footer */
footer {
  background: lightgrey;
  height: 200px;
}

footer .left {
  width: 50%;
  padding-top: 50px;
}

footer .right {
  width: 50%;
  padding-top: 70px;
}

footer .footer-content .left h3 {
  font-size: 50px;
}

footer .footer-content .right .menu-footer li{
  display: inline-block;
}

footer .footer-content .right .menu-footer li a.footer-item-green {
  padding: 19px 13px;
  border-radius: 7px;
  background-color: #7fb802;
}

footer .footer-content .right .menu-footer li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

footer .footer-content .right .menu-footer li a:hover {
  color: orange;
}

footer .footer-content .right .menu-footer li p {
  color: grey;
}
/* end footer */
